In [2]:
# import libraries
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head()

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453    Male   Samosa
1   56  199.333636  60.453554    Male   Samosa
2   40  176.137288  79.703309  Female   Samosa
3   64  168.847337  57.181763  Female  Biryani
4   47  176.453651  95.345925    Male   Samosa

In [3]:
df["Gender"]= df["Gender"].replace("Male", 1)
df["Gender"]= df["Gender"].replace("Female", 0)
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_14564\4284152366.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Gender"]= df["Gender"].replace("Female", 0)

   Age      Height     Weight  Gender Likeness
0   53  153.278361  79.183453       1   Samosa
1   56  199.333636  60.453554       1   Samosa
2   40  176.137288  79.703309       0   Samosa
3   64  168.847337  57.181763       0  Biryani
4   47  176.453651  95.345925       1   Samosa

In [4]:
# selection of input and output variable
x= df[["Weight", "Gender"]]
y= df["Likeness"]

In [5]:
x.head()

      Weight  Gender
0  79.183453       1
1  60.453554       1
2  79.703309       0
3  57.181763       0
4  95.345925       1

In [5]:
y.head()

0     Samosa
1     Samosa
2     Samosa
3    Biryani
4     Samosa
Name: Likeness, dtype: object

In [6]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier()
model.fit(x,y)

# Prediction
model.predict([[90,0]])

c:\Users\user\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [40]:
# how to measure the accuracy of our model
# split data into test and train (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2) # 80% training data and 20% tetsing data

# Create a model 
model = DecisionTreeClassifier()
# fitting a model
model.fit(x_train, y_train)

predicted_values = model.predict(x_train)
predicted_values

array(['Biryani', 'Samosa', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Samosa', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Samosa', 'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Biryani', 'Samosa', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Samosa', 'Samosa', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa', 'Samosa',
       'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani'], dtype=object)

In [41]:
# 4. Check sizes (debug step)
print("y_test size:", len(y_train))
print("predictions size:", len(predicted_values))

y_test size: 80
predictions size: 80

In [43]:
# 5. Calculate accuracy
score = accuracy_score(y_train, predicted_values)
print("Accuracy:", score)

Accuracy: 1.0

In [6]:
# how to train and save your model

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model= DecisionTreeClassifier().fit(x, y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [ ]:
# how to import/run a stored or saved model on our data? Assignment

In [7]:
# graph 
from sklearn import tree

model= DecisionTreeClassifier().fit(x,y)
# graphic evaluation/ look into what happened 
tree.export_graphviz(model,
                     out_file="foodie.dot",
                     feature_names=["Age","Gender"],
                     class_names= sorted(y.unique()),
                     label="all",
                     rounded=True,
                     filled=True)